.page-headline {
	& > div {
		grid-column-gap: 20px;
		grid-template-areas:
			"headline my-photo about-me"
			"headline my-photo about-me";
	}

	.photo,
	.headline,
	.about-me {
		align-self: center;
	}

	.photo {
		margin-right: 0;

		b {
			height: 17vw;
			width: 17vw;
		}
	}

	.headline {
		span {
			font-size: 1.6vw;
		}

		span:first-child {
			font-size: 4vw
		}

		span:last-child {
			font-weight: 700;
		}
	}
}