.page-intro,
.page-headline {
	height: 100vh;
	min-height: 100vh;
}

// ==========================================================================
// Flex
// ==========================================================================

.page-headline,
.page-expertise {
	
}

// ==========================================================================
// Grid
// ==========================================================================

@supports (display: grid) {
	.page-headline,
	.page-expertise {
		& > div {
			grid-column-start: 2;
			grid-row-start: 2;
		}
	}
}